---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/public/icons/pageLogo.png" />
    <meta
      name="description"
      content="Dominik Machowski - full-stack developer portfolio!"
    />
    <title>Dominik Machowski</title>
  </head>
  <body class="bg-secondary font-crimson pl-7 pt-6 lg:pl-30 lg:pt-20 lg:pr-10">
    <slot />
  </body>
</html>
